{% for user in users %}
/* update Author table:  {{ user.firstname }} {{ user.lastname }}  */
DELETE FROM Author WHERE FirstName='{{ user.firstname }}' and LastName='{{ user.lastname }}';
INSERT INTO Author SET FirstName='{{ user.firstname }}', LastName='{{ user.lastname }}', InstitutionID=26, Active=1 ;

/* Update EmailUser table */
DELETE FROM EmailUser WHERE Username='{{ user.username }}';
INSERT INTO EmailUser
  (Username, Name, EmailAddress, AuthorID, EmployeeNumber)
  SELECT '{{ user.username }}', '{{ user.firstname }} {{ user.lastname }}', Author.AuthorID, FLOOR(100 + RAND() * 900)
    FROM Author WHERE Author.FirstName='{{ user.firstname }}' and Author.LastName = '{{ user.lastname }}';

/* Update RemoteUser table */
DELETE FROM RemoteUser WHERE RemoteUsername='{{ user.username }}';
INSERT INTO RemoteUser
  ( RemoteUserName, EmailUserID, EmailAddress )
  SELECT '{{ user.username }}', EmailUser.EmailUserID, '{{ user.email }}' FROM EmailUser where EmailUser.Username='{{ user.username }}';
{% endfor %}