<VirtualHost *:80>
    RewriteEngine On
    RewriteCond %{REQUEST_URI} !^/\.well\-known/acme\-challenge/
    RewriteRule ^(.*)$ https://%{HTTP_HOST}$1 [R=301,L]
</VirtualHost>

#<AuthnProviderAlias shibboleth MYSHIB>
# config options
# ...
#</AuthnProviderAlias>

<AuthnProviderAlias file MYFILE>
  AuthUserFile   /etc/apache2/passwords
</AuthnProviderAlias>

<AuthnProviderAlias ldap MYLDAP>
  AuthLDAPURL ldap://{{ LDAP_SERVER }}:389/ou=people,{{ LDAP_BASE_DN}}
  AuthLDAPBindDN "cn=admin,{{ LDAP_BASE_DN}}"
  AuthLDAPBindPassword "{{ LDAP_ADMIN_PASSWORD }}"
</AuthnProviderAlias>

<VirtualHost *:443>
    SetEnv PERL5LIB {{ PERL5LIB }}

    DocumentRoot  {{ DOCDB_HTML_DIR }}
    ScriptAlias /cgi-bin {{ DOCDB_CGI_DIR }}
    RewriteEngine On
    LogLevel warn

    #   SSL Engine Switch:
    #   Enable/Disable SSL for this virtual host.
    SSLEngine on

    SSLCertificateFile /etc/ssl/certs/apache-selfsigned.crt
    SSLCertificateKeyFile  /etc/ssl/private/apache-selfsigned.key

    <Location />
        DirectoryIndex index.html index.cgi index.php /login/index.shtml
        AuthName "openDCC admin/admin or user[123]/password. demo only not for production use"
        AuthType  Basic
        AuthBasicProvider MYLDAP
        Require    valid-user
        #XbitHack on
    </Location>

    <LocationMatch "^/[A-za-z0-9_\-\.]+\.(gif|jpe?g|png|ico|js|css)$">
        Require all granted
    </LocationMatch>

    <Location "/login">
        Require all granted
        Options +Includes
    </Location>

    <LocationMatch "^/(Static|public|backgrounds|icon|site-logos)">
        Require all granted
    </LocationMatch>

     # yes ! > 15min some scripts take a LOOOOOONNNNNNGGGGG time
     #Timeout 1000
     Timeout 10

     DefineExternalGroup dccauth environment {{ DOCDB_CGI_DIR }}/private/DocDB/RemoteUserHasAccess
     Alias "/DocDB" "/usr1/www/html/DocDB"

     <Location "/DocDB/">
         LogLevel info authnz_external:debug authz_core:debug
         AuthType Basic
         AuthBasicProvider MYLDAP external
         AuthName "openDCC admin/admin or user[123]/password. demo only not for production use"
         GroupExternal dccauth
         <RequireAll>
             Require external-group foobar
             Require valid-user
         </RequireAll>
     </Location>

   #
   #  where the private version of the dcc code lives
   #  using the alias and Location should make the move away
   #  from /usr1 easier.
   #
   Alias /cgi-bin/private/DocDB /usr1/www/cgi-bin/private/DocDB
   ScriptAlias /dcc  {{ DOCDB_CGI_DIR }}/private/DocDB/DocumentDatabase
   ScriptAlias /pub  {{ DOCDB_CGI_DIR }}/DocDB/DocumentDatabase

    <Location "/cgi-bin/private/DocDB">
        AuthBasicProvider MYLDAP
        require valid-user
        Options +ExecCGI +Indexes
        DirectoryIndex DocumentDatabase
        SetHandler cgi-script
    </Location>

    #####################################################################
    ##
    ##
    ##
    ##  Public DCC ( /cgi-bin/DocDB urls)
    ##
    ##
    ##
    #####################################################################

   Alias "/pub" "/usr1/www/cgi-bin/DocDB"
   Alias /cgi-bin/DocDB {{ DOCDB_CGI_DIR }}/DocDB

   <Location "/cgi-bin/DocDB">
           Require all granted
           Options +ExecCGI +Indexes +FollowSymlinks
           DirectoryIndex DocumentDatabase
           SetHandler cgi-script
   </Location>

   Alias /public /usr1/www/html/public

   <LocationMatch "/public/Static/(js|css|img)/">
       Require all granted
   </LocationMatch>

   <LocationMatch "^/public">
       Options +Indexes +FollowSymLinks +IncludesNoExec +ExecCGI
       DirectoryIndex "/cgi-bin/DocDB/DocumentDatabase"
       Require all granted
   </LocationMatch>


</VirtualHost>


# intermediate configuration
SSLProtocol             all -SSLv3 -TLSv1 -TLSv1.1
SSLCipherSuite          ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
SSLHonorCipherOrder     off
SSLSessionTickets       off
