 #
 # Description: Configuration file for site specifi settings.
 #              This file is included in every DocDB program.
 #
 #      Author: Melody C. Araya (maraya@ligo.caltech.edu)
 #    Modified:
 #
 # Copyright 2011 Melody C. Araya

 #    This file is part of DocDB.

 #    DocDB is free software; you can redistribute it and/or modify
 #    it under the terms of version 2 of the GNU General Public License
 #    as published by the Free Software Foundation.

 #    DocDB is distributed in the hope that it will be useful,
 #    but WITHOUT ANY WARRANTY; without even the implied warranty of
 #    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 #    GNU General Public License for more details.

 #    You should have received a copy of the GNU General Public License
 #    along with DocDB; if not, write to the Free Software
 #    Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA

 $UseDeadlyWarning = 0;


 # sendmail command
 # $sendmail = '/usr/sbin/sendmail -ODeliveryMode=b -t';
 # For use with mailhog fake smtp server on mailhog host/container
 # $sendmail = '/usr/sbin/sendmail --smtp-addr="mailhog:25" ';
 # actually does not seem to be used
 $sendmail = '/usr/bin/logger -t dcc::sendmail';

 # see https://metacpan.org/pod/Email::Sender::Manual::QuickStart#specifying-transport-in-the-environment
 $ENV{EMAIL_SENDER_TRANSPORT}=SMTP;
 $ENV{EMAIL_SENDER_TRANSPORT_host}='mailhog';
 $ENV{EMAIL_SENDER_TRANSPORT_port}=25;

 # DB settings
#       MARIADB_DATABASE: $ENV{MARIADB_DATABASE}
#       MARIADB_USER: $ENV{MARIADB_USER}
#       MARIADB_PASSWORD: $ENV{MARIADB_PASSWORD}
#       MARIADB_USER2: $ENV{MARIADB_USER2}
#       MARIADB_PASSWORD2: $ENV{MARIADB_PASSWORD2}
 $db_name       = '{{ MARIADB_DATABASE }}';               # Database name
 $db_host       = "mariadb";
 $db_rwuser     = '{{ MARIADB_USER }}';             # You can change the names of the accounts if you are
 $db_rwpass     = '{{ MARIADB_PASSWORD }}';             # hosting more than one DocDB on the same SQL server
 $db_rouser     = '{{ MARIADB_USER2 }}';      # (for two different projects). Otherwise its probably
 $db_ropass     = '{{ MARIADB_PASSWORD2 }}'; # best just to leave the names as-is.

 # specific to the docker setup
 # implicit test of the connection and ensure the non-root users are properly set
 use DBI;
 my $dbh = DBI->connect('DBI:mysql:'.$db_name.':'.$db_host,'root','{{ MARIADB_ROOT_PASSWORD }}') or die "Can't connect to mariadb";
 # Yuck !!!
 my $CREATE_USER="CREATE USER IF NOT EXISTS ${db_rouser}\@'\%' IDENTIFIED BY '${db_ropass}';" ;
 my $sth = $dbh->prepare($CREATE_USER);
 my $grant = $dbh->prepare("GRANT SELECT ON ".$db_name.".* TO `".$db_rouser."`@`%`;");
 $sth->execute  or die "SQL Error: $DBI::errstr\n$CREATE_USER\n";
 $grant->execute or die "SQL Error: $DBI::errstr\n";

 # Root directories and URLs

 $file_root   = "/usr1/www/html/DocDB/";
 $script_root = "/usr1/www/cgi-bin/private/DocDB/";
 $public_root = "/usr1/www/html/public/";

 # Places in local filesystem where XMLUpload can get files
 @LocalUploadDirectories = ( "/tmp", );

 # Let's use relative URLs
 $host_name = "/";
 #
 $web_root        = $host_name."DocDB/";
 $wiki_root       = $host_name."wiki/index.php";
 $cgi_root        = $host_name."cgi-bin/private/DocDB/";
 $Public_cgi_root = $host_name."cgi-bin/DocDB/";
 $secure_root     = $host_name."cgi-bin/private/DocDB/";
 #
 $DocDBHome  = $host_name."wiki/index.php/Main_Page";
 $KAGRAHome  = "https://gwdoc.icrr.u-tokyo.ac.jp/";
 $VirgoHome  = "https://tds.virgo-gw.eu/";
 $CosmicHome = "https://dcc.cosmicexplorer.org";

 $WelcomeMessage = "This is the repository of $Project talks, publications, and other documents.";

 # Location of the script called for server status updates
 $ServerStatusUrl  = "/cgi-bin/private/DocDB/serverstatus.sh";

 # Server status polling interval in milliseconds
 $ServerStatusPollInterval  = "60000";

 $ReadOnly       = 0;            # Can be used in conjunction with individual
                                 # authorization methods to set up a group-like
                                 # area with group passwords which can view
                                 # but not change any info
 #$ReadOnlyAdmin  = 0;           # Allows administration from the read-only
                                 # area. Only suggested for boot-strapping until
                                 # you have an individual selected as admin
 $UseSignoffs          = 1;      # Sign-off system for document approval
 $MailInstalled        = 1;      # Is the Mailer::Mail module installed?
 #$MailServer           = "";

 %FEATURES = (
   sign_with_ajax   => 1,  # use ajax call to SignRevision instead of legacy form POST
   sign_autorefresh => 1,  # <=0-> do not autorefresh, >0 period between reloads in seconds
   use_vuejs        => 0,  # render dynamic parts of the webui using vue.js instead prototype/scriptaculous/jquery
   use_dbi_dsn      => 0,  # un harcode the dependency to mysql  on localhost
   search_engine    => 'glimpse', # moving to 'manticore' or 'meilisearch' or ...
   use_vault        => 0,  # fetch secrets from vault.ligo.org
   use_ldap_groups  => 0,  # use ldap groups for user authorization rather than local DCC group memberships
 );

 # These settings are for public version of DB. Uncomment these five lines
 # # for the version of this file you place in the public area. While only the
 # # first is probably necessary, as a precaution its wise to do the other 4 as
 # # well.
 #
 # #$Public           = 1;
 # #$remote_user      = ""; # Just to be safe
 # #$RemoteUsername   = ""; # Just to be safe
 # #$db_rwuser        = ""; # Just to be safe
 # #$db_rwpass        = ""; # Just to be safe

 1;
